@charset "UTF-8";

/*
Celular: até 600px
Tablets: de 600px até 768px
Laptop: de 768px até 992px 
Desktop: de 992px até ++
*/

/*  Menu se esconde com o maximo de 600px*/
@media screen and (min-width: 600px) {
    .menu-toggle{
        display: none;
    }
    header{ 
        background-color: #1C2326;
        display: flex;
        padding: 20px;
    }
    
    #menu { 
        display: flex; 
        margin-left: auto; 
        gap: 20px;
    }
    
    header a{
        color: #D92938;
        text-decoration: none;
        display: inline-block;
    }

}

/*  Tablets   */
@media screen and (min-width: 600px) and (max-width: 768px) {
    #menu a{
        font-size: 1em;
        margin: 5px;
    }

    #inicio  h1{
        width: 15ch;
    }
    #fotoDePerfil{
        display: block;
    }
    .container{
        justify-content: space-around;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .paiTodos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #fotoDePerfil{
        display: block;
    }
    .container{
        justify-content: space-around;
    }
}

@media screen and (min-width: 992px) {
    .paiTodos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    #fotoDePerfil{
        display: block;
    }
    .container{
        justify-content: space-around;
    }
}